:root {
  --text-color-main: #757575;
  --title-text-color-light: #ffffff;
  --title-text-color-dark: #212121;

  --bg-color-main: #ffffff;
  --bg-color-light: #f5f4fa;
  --bg-color-dark: #2f303a;

  --logo__dark: #000000;
  --logo__light: #ffffff;
  --accent-color: #2196f3;
  --accent-color-hover: #188ce8;
  --frame-color: #eeeeee;
  --border-bottom-color: #ececec;

  --icon-color-light: #afb1b8;

  --logo-font: 'Raleway', sans-serif;
  --main-font: 'Roboto', sans-serif;

  --main-transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}
